{% extends "base.html" %}

{% block content %}
    <main class="container">
        <div class="row d-flex justify-content-between">
            <div class="col md-8">
                <form class="search-bar" action="/" method="GET">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Введите название" name="category_name" value="{{ category_name }}">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary w-100 search-btn">Поиск</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col md-4 justify-end">
                <a href="/imts/{{ draft_imt.id }}/" class="w-25">
                    <button type="submit" class="bin btn btn-primary position-relative w-100">
                        <img src="/static/images/cart.svg" alt="" class="cart-icon">
                        <div class="badge position-absolute badge rounded-pill">
                            {{ categorys_count }}
                        </div>
                    </button>
                </a>
            </div>
        </div>
        <div class="cards-wrapper">
            {% for category in categorys %}
                <div class="card">
                    <img src="{{ category.image }}" class="category-preview" alt=""/>
                    <div class="card-body" >
                        <div class="card-info">
                            <h5 class="card-title">{{ category.name }}</h5>
                            <p class="card-text">Пол: {{ category.sex }} </p>
                        </div>
                        <div class="card-btns">
                            <a href="/categorys/{{ category.id }}/" class="btn btn-primary center">
                                Открыть
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}

