{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container category-page">
        <div class="row">
            <div class="col-6">
                <img src="{{ category.image }}" class="category-image" alt=""/>
            </div>
            <div class="col-6 d-flex flex-md-column gap-md-3">
                <h1>{{ category.name }}</h1>
                <span>Пол: {{ category.sex }}</span>
                <span>Возраст: {{ category.age }} лет</span>
                <a href="/" class="btn btn-primary my-4 w-25 return-btn">
                    Домой
                </a>
            </div>
        </div>
    </main>
{% endblock content %}