{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-6">
                <img src="{{ category.image.url }}" class="category-image" alt=""/>
            </div>
            <div class="col-6 d-flex flex-md-column gap-md-3">
                <h1>{{ category.name }}</h1>
                <span>Пол: {{ category.sex }} </span>
                <span>Возраст: {{ category.age }} лет</span>
                <a href="/" class="return-btn btn btn-primary my-4 w-25">
                    Назад
                </a>
            </div>
        </div>
    </main>
{% endblock content %}